<div class="row hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px;">
           Bienvenido a
        </h1>

        <h1 style="font-size: 50px; font-weight: 600;">
            Son Cuentas Claras
        </h1>
        <p style="font-size: 30px;">
            El cómo y en qué se gasta el gobierno el dinero de todos los sonorenses
        </p>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="https://soncuentas2016.azurewebsites.net/" class="buttonown">
                    2016
                </a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="#!home" class="buttonown">
                    2017
                </a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
               <!-- <a href="http://soncuentas2018.x10host.com/#!/home" class="buttonown">-->
                    <a href="https://soncuentas2018.000webhostapp.com/" class="buttonown">
                    2018
                </a>
            </div>
        </div>
        <div class="row">
            <div class="share">
                Compartir
            </div>
        </div>

    </div>
</div>