<div class="row hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px;">
           Bienvenido a Son Cuentas Claras
        </h1>
        <p style="font-size: 40px;">
            El cómo y en qué se gasta el gobierno el dinero de todos los sonorenses
        </p>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <a href="https://cuentas20170821045823.azurewebsites.net" class="buttonown">
                    2016
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <a href="#!home" class="buttonown">
                    2017
                </a>
            </div>
        </div>
        <div class="row">
            <div class="share">
                Compartir
            </div>
        </div>

    </div>
</div>