<div class="row hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px">Son Cuentas Claras</h1>
        <p>Entérate en qué invierte el Gobierno de Sonora</p>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <a href="https://cuentas20170821045823.azurewebsites.net" class="buttonown">
                    2016
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <a href="#!home" class="buttonown">
                    2017
                </a>
            </div>
        </div>

    </div>
</div>