<div class="container">
    <div class="row">

        <section id="video_principal">
            <div class="tvideos">
                <div class="divideo">
                    <video class="videovis" controls style="width:83%;">
                        <source src="http://initia.mx/cuentasclaras/Harry/banner_intro.mp4" type="video/mp4" />
                    </video>
                    <div class="playpause" hidden></div>
                </div>
            </div>
        </section>

        <section id="rubros">

            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Bienvenido a</h1>
                    <h2 class="colorsize" style="font-weight: bold;">Son Cuentas Claras</h2>
                    <h2 class="roboto-light">Enero - Diciembre 2017</h2>
                    <h2 class="roboto-bold">$62 MIL 356 MDP</h2>
                </div>
            </div>


            <div style="text-align:center;" class="roboto-light row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="colorsize">
                        "El cómo y en qué se gasta el gobierno el dinero de todos los sonorenses"
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 divrub_relative" id="hoveredu">
                    <a href="#!educacion">
                        <div class="div_rub_img">
                            <img class="img-responsive" style="display:inline-block;" src="img/educacion.png" />
                        </div>

                        <div class="divrub">
                            <div  id="divedu">
                                <div>EDUCACIÓN</div>
                            </div>
                            <div id="backeducard" class="backcard" hidden>
                                <div>Educación</div>
                                <p class="roboto-bold">19 MIL 772 MDP</p>
                                <p class="roboto-bold">35%</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img class="img-responsive" src="img/hospital.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img class="img-responsive" src="img/seguridad.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img class="img-responsive" src="img/desarrolloeconomico.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img class="img-responsive" src="img/poderesauto.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img class="img-responsive" src="img/desarrollosocial.png" alt="">
                </div>
            </div>

        </section>

    </div>
</div>
<script>
    $(document).ready(function () {
        /**
         * Script para los efectos de los rubros
         */

        $("#hoveredu").hover(function () {
            $("#divedu").hide('slow');
            $("#backeducard").show('slow');
        }, function () {
            $("#divedu").show('slow');
            $("#backeducard").hide('slow');
        });
        /**
         * Fin del Script
         */
    });

</script>