<div class="row">
    <!--banner primero-->
    <div class="container-fluid">
        <div id="carousel-banner-edu" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-primero" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-primero" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="img/banner_admon-gobierno.png" class="img-responsive"/>
                </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-banner-edu" role="button" data-slide="prev" target="_self">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-banner-edu" role="button" data-slide="next" target="_self">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--banner primero fin-->

</div>



<div class="container" style="margin-top:70px;">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <a href="files/MUNICIPIOS.pdf" target="_blank">
                <div class="roboto-bold" id="municipiospdf" style="padding-top: 30px;">
                    MUNICIPIOS<img src="img/pdf.png">
                </div>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>