<div class="row" style="margin-top: 80px;">
    <!--banner primero-->
    <div class="container-fluid">
        <div id="carousel-banner-edu" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-primero" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-primero" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="img/OtrosPoderesAutonomos.png" class="img-responsive"/>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-banner-edu" role="button" data-slide="prev" target="_self">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-banner-edu" role="button" data-slide="next" target="_self">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--banner primero fin-->

</div>

<div class="row btnsvid hidden-xs">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="btn-toolbar" style="float:right;">
            <!-- <a href="#" role="button" class="btn btn-lg btninfo"> Más Información</a>-->
            <a href="http://hacienda.sonora.gob.mx/finanzas-publicas/rendicion-de-cuentas/cuenta-publica/2017/" target="_blank" role="button" class="btn btn-lg cuentabtn">Cuenta Pública</a>
            <a href="#!home" role="button" class="btn btn-lg volver">Volver</a>
        </div>
    </div>
</div>
