<div class="wrapper">
    <video class="videovis" autoplay>
        <source src="videos/sueldos_salud.mp4" type="video/mp4" />
    </video>
    <div class="playpause" hidden></div>
</div>

<div class="row btnsvid hidden-xs">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="btn-toolbar" style="float:right;">
            <!-- <a href="#" role="button" class="btn btn-lg btninfo"> Más Información</a>-->
            <a href="http://hacienda.sonora.gob.mx/finanzas-publicas/rendicion-de-cuentas/cuenta-publica/2017/" target="_blank" role="button" class="btn btn-lg cuentabtn">Cuenta Pública</a>
            <a href="#!salud" role="button" class="btn btn-lg volver">Volver</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        /*var pathname = window.location.pathname;
        console.log(pathname);*/
        $(".videovis").on('ended', function (e) {
            $(".playpause").fadeIn();
        });
        $('.videovis').parent().click(function () {
            if ($(this).children(".videovis").get(0).paused) {
                $(this).children(".videovis").get(0).play();
                $(this).children(".playpause").fadeOut();
            } else {
                $(this).children(".videovis").get(0).pause();
                $(this).children(".playpause").fadeIn();
            }
        });
    });


</script>